parameters:
    level: 6
    paths:
        - web
        - database
        - cli
        - tests
        - config
        - gar
        - bootstrap.php

    bootstrapFiles:
        - bootstrap.php

    exceptions:
        uncheckedExceptionRegexes:
            - '#^DB\\Exceptions\\Unchecked\\#'
            - '#^GAR\\Exceptions\\Unchecked\\#'